[Unit]
Description=simple mockup cliente
Requires=server.service
After=server.service

[Service]
ExecStart=/usr/bin/cliente

[Install]
WantedBy=multi-user.target